{# notre menu #}
<ul>
    {# on fait le lien vers notre routing en utilisant la commande url(le_nom_de_notre_route) définie dans Resources/config/routing.yml du Bundle #}
    <li><a href="{{ url('perso_article_homepage') }}">Accueil</a></li>
    <li><a href="{{ url('perso_article_homepage') }}">Ajouter</a></li>
</ul>